.search-bar {
    margin-bottom: 10px;
}

.canteen-modal{
    padding-top: 20px;
}
.canteen-modal .form-horizontal .form-group{
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.canteen-modify{
    color: #1FB5AD;
    padding-right: 5px;
    padding-left: 5px;
}
.canteen-modify:hover, .canteen-modify:link, .canteen-modify:visited{
    color: #1FB5AD;
    padding-right: 5px;
    padding-left: 5px;
}
.canteen-delete{
    color: #EA7575;
    padding-right: 5px;
    padding-left: 5px;
}
.canteen-delete:hover, .canteen-delete:link, .canteen-delete:visited{
    color: #EA7575;
    padding-right: 5px;
    padding-left: 5px;
}

.a-inline-block{
    display: inline-block;
}

.searchForm{
	display: inline-block;
}
.btn{
	margin: 0 2px;
}
.table th,.table td{
	text-align: center;
}
.sub-wrap .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.sub-wrap .col-xs-6{
    padding-left: 0;
    padding-right: 0;
}
#monitorImage{
    width: 100%;
}
.warningToolTip{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
	margin-top: 3px;
}

#addDataType-error{
	padding-left: 37.333333%;
	padding-top: 48px;
}

.help-block{
	margin-top: 0 !important;
}
.page-span .active{
	color: rgb(26, 179, 148);
}

.yh-charts{
	min-width: 495px;
 	height: 600px;
 	border: 1px solid #ddd;
 	padding-top: 25px;
 	margin-right: 20px;
 	margin-bottom: 20px;
}
.search-bar .col-md-8{
	   width: 66.66666667%!important;
}
